
.nav-item{
  margin-bottom: 0;
  cursor: pointer;
  font-family: RondaLight;
}


.btn{
  font-family: RondaLight;
}

.title{
  font-weight: 100;
  letter-spacing: -1px;
  font-family: RondaMedium;
}

.navbar-admin .title{
  color: white;
  font-family: RondaLight;
}

.navbar-admin{
  background-color: #5d3646;
}

.sign-in{
  margin-left: 10px;
}

.navbar-brand{
  cursor: pointer;
}

#logout, #logoutAdmin{
  background-color: white;
  margin-left: 20px;
}

#logout:hover, #logoutAdmin:hover{
  background-color: #d9534f;
}

.navbar-admin .navbar-nav button{
  margin-left: 10px;
}

.chip{
  background-color: rgba(0,0,0,0.2);
  border-radius: 50px;
  padding:5px 10px 5px 10px;
  margin-left: 5px;
  font-size: 12px;
}

.menu-xs a{
  text-align: left;
}

.mobile button{
  text-align: left;
  color: #585a5a;
}

.mobile md-icon{
  position: relative;
  top:6px;
}
