
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" *ngIf="authService.currentUser.role != 'admin'">
  <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>



  <a class="navbar-brand title" routerLink="/home"> nicocktail</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-item nav-link hidden-xs-down" md-button routerLink="/home" ><md-icon>home</md-icon> <span class="text">Home</span></a>
      <a class="nav-item nav-link hidden-xs-down" md-button routerLink="/shop" ><md-icon>local_bar</md-icon> <span class="text">Shop</span></a>
      <a class="nav-item nav-link hidden-xs-down" md-button routerLink="/builder" ><md-icon>build</md-icon> <span class="text">Builder</span></a>
      <a class="nav-item nav-link hidden-xs-down" md-button routerLink="/drink-box" ><md-icon>card_giftcard</md-icon> <span class="text">DrinkBox</span></a>
      <a class="nav-item nav-link hidden-xs-down" md-button *ngIf="this.authService.isLoggedIn" routerLink="/wishlist" ><md-icon>assignment</md-icon> <span class="text">Wishlist</span></a>
      <a class="nav-item nav-link hidden-xs-down" md-button *ngIf="this.authService.isLoggedIn" routerLink="/cart" ><md-icon>shopping_cart</md-icon> <span class="text">Cart</span> </a>
      <a class="nav-item nav-link hidden-xs-down" md-button *ngIf="this.authService.isLoggedIn" routerLink="/orders" ><md-icon>list</md-icon> <span class="text">Orders</span> </a>

    </div>

    <div class="form-inline my-2 my-lg-0" *ngIf="!authService.isLoggedIn">
      <button md-raised-button routerLink="/register" class="my-2 my-sm-0 hidden-sm-up" data-target="#navbarNavAltMarkup" data-toggle="collapse" ><md-icon>assignment</md-icon> Sign up</button>
      <button md-raised-button routerLink="/register" class="btn btn-outline-warning my-2 my-sm-0 hidden-xs-down" ><md-icon>assignment</md-icon> Sign up</button>
      <button md-raised-button routerLink="/sign-in" class="btn btn-outline-info my-2 my-sm-0 sign-in hidden-sm-up" data-target="#navbarNavAltMarkup" data-toggle="collapse" ><md-icon>account_circle</md-icon> Sign in</button>
      <button md-raised-button routerLink="/sign-in" class="btn btn-outline-info my-2 my-sm-0 sign-in hidden-xs-down" ><md-icon>account_circle</md-icon> Sign in</button>
    </div>

    <div class="form-inline my-2 my-lg-0" *ngIf="authService.isLoggedIn">
      <button md-raised-button routerLink="/account" class="my-2 my-sm-0 hidden-sm-up" data-target="#navbarNavAltMarkup" data-toggle="collapse" ><md-icon>account_circle</md-icon> {{authService.currentUser.firstname}}</button>
      <button md-raised-button mdTooltip="Manage" [mdTooltipPosition]="'below'" routerLink="/account" class="btn btn-outline-warning my-2 my-sm-0 hidden-xs-down" ><md-icon>account_circle</md-icon> {{authService.currentUser.firstname}}</button>

      <button md-mini-fab  (click)="authService.logout()" class="my-2 my-sm-0 hidden-sm-up" data-target="#navbarNavAltMarkup" data-toggle="collapse" ><md-icon>exit_to_app</md-icon></button>
      <button md-mini-fab mdTooltip="Logout" [mdTooltipPosition]="'below'" id="logout" (click)="authService.logout()" class="btn btn-outline-danger my-2 my-sm-0 hidden-xs-down" ><md-icon>exit_to_app</md-icon></button>
    </div>
  </div>

</nav>


<nav class="navbar navbar-admin navbar-toggleable-md navbar-light bg-faded" *ngIf="authService.currentUser.role == 'admin'">
  <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand title" routerLink="/admin"> nicocktail</a>
  <div class="collapse navbar-collapse" id="navBarAdmin">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <button md-raised-button class="btn btn-outline-info text-center" routerLink="/admin/alcohol"><md-icon>local_bar</md-icon> Alcohol</button>
      <button md-raised-button class="btn btn-outline-info text-center" routerLink="/admin/soft"><md-icon>local_drink</md-icon> Soft</button>
      <button md-raised-button class="btn btn-outline-info text-center" routerLink="/admin/extra"><md-icon>local_florist</md-icon> Extra</button>
      <button md-raised-button class="btn btn-outline-info text-center" routerLink="/admin/bundle"><md-icon>view_carousel</md-icon> Bundle</button>
      <button md-raised-button class="btn btn-outline-info text-center" routerLink="/admin/user"><md-icon>people</md-icon> Users</button>
    </div>

    <div class="form-inline my-2 my-lg-0" *ngIf="authService.isLoggedIn">
      <button md-raised-button routerLink="/profil" class="my-2 my-sm-0 hidden-sm-up" data-target="#navbarNavAltMarkup" data-toggle="collapse" ><md-icon>account_circle</md-icon> {{authService.currentUser.firstname}}</button>
      <button md-raised-button mdTooltip="Manage" [mdTooltipPosition]="'below'" routerLink="/profil" class="btn btn-outline-warning my-2 my-sm-0 hidden-xs-down" ><md-icon>account_circle</md-icon> {{authService.currentUser.firstname}}</button>

      <button md-mini-fab  (click)="authService.logout()" class="my-2 my-sm-0 hidden-sm-up" data-target="#navbarNavAltMarkup" data-toggle="collapse" ><md-icon>exit_to_app</md-icon></button>
      <button md-mini-fab mdTooltip="Logout" [mdTooltipPosition]="'below'" id="logoutAdmin" (click)="authService.logout()" class="btn btn-outline-danger my-2 my-sm-0 hidden-xs-down" ><md-icon>exit_to_app</md-icon></button>
    </div>
  </div>

</nav>
