<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title text-center">
        Welcome Back !
      </h1>
    </div>
  </div>

  <div class="row">
    <div class=" offset-md-3 col-md-6 col-xs-12">
      <md-input-container style=" margin-bottom: 20px">
        <input mdInput type="text" placeholder="Email" [(ngModel)]="email" style="width: 300px;"/>
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6 col-xs-12">
      <md-input-container style=" margin-bottom: 20px">
        <input mdInput type="password" placeholder="Password" [(ngModel)]="password" style="width: 300px;"/>
      </md-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <label class="custom-control custom-checkbox ">
        <md-checkbox [(ngModel)]="rememberMe" >Remember me!</md-checkbox>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-xs-12 offset-md-7">
      <button md-raised-button type="submit" class="btn btn-block btn-outline-info form-control" (click)="signIn()"><md-icon>done</md-icon> Sign in</button>
    </div>
  </div>

</div>
