

.title{
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: RondaMedium;
}

input{
  margin-bottom:10px;
}

.btn{
  margin-bottom: 200px;
}

md-input-container{
  width: 100%;
}

.radio-container{
  padding-top: 20px;
}
