<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title text-center">
        Create an account
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6 offset-md-3 col-xs-12">
      <md-input-container>
        <input type="text" mdInput placeholder="Firstname" [(ngModel)]="newUser.firstname">
      </md-input-container>
    </div>
    <div class="col-lg-3 col-md-6 offset-lg-0 offset-md-3 col-xs-12">
      <md-input-container>
        <input type="text" mdInput placeholder="Lastname" [(ngModel)]="newUser.lastname">
      </md-input-container>
    </div>
  </div>


<!--
  <div class="row">
    <div class="col-md-6 offset-md-3  col-xs-12">
      <md-input-container>
        <input type="text" mdInput placeholder="Address" [(ngModel)]="newUser.address">
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3  col-xs-12">
      <md-input-container>
        <input type="text" mdInput placeholder="City" [(ngModel)]="newUser.city">
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 offset-md-3 col-xs-12">
      <md-input-container>
        <input type="text" mdInput placeholder="Zip Code" [(ngModel)]="newUser.zipCode">
      </md-input-container>
    </div>
    <div class="col-lg-3 col-md-6 offset-lg-0 offset-md-3 col-xs-12" >
      <md-input-container>
        <input type="text" mdInput placeholder="Country" [(ngModel)]="newUser.country">
      </md-input-container>
    </div>
  </div>


  -->
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <md-input-container>
        <input type="text" mdInput placeholder="Email" [(ngModel)]="newUser.email">
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <md-input-container>
        <input type="password" mdInput placeholder="Password" [(ngModel)]="newUser.password">
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <md-input-container>
        <input type="password" [(ngModel)]="confirmationPassword" mdInput placeholder="Password Confirmation">
      </md-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-xs-12 offset-md-7">
      <button md-raised-button (click)="onSubmit()" class="btn btn-block btn-outline-info form-control"><md-icon>save</md-icon> Register</button>
    </div>
  </div>


</div>
