<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title text-center">
        Create an account
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <input type="text" class="form-control" placeholder="Firstname">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <input type="text" class="form-control" placeholder="Lastname">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <input type="text" class="form-control" placeholder="Zip Code">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <input type="text" class="form-control" placeholder="Email">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <input type="text" class="form-control" placeholder="Password">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <input type="text" class="form-control" placeholder="Password Confirmation">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-xs-12 offset-md-7">
      <button type="submit" class="btn btn-block btn-outline-warning form-control"><i class="fa fa-save"></i> Register</button>
    </div>
  </div>

</div>
