.title{
  margin-top: 70px;
}

.delete, .save, #add{
  background-color: white;
  margin-left: 20px;
}

.delete:hover{
  background-color: #d9534f;
}

.save:hover{
  background-color: #5cb85c;
}

#add:hover{
  background-color: #5bc0de;
}


md-card{
  padding: 0;
  margin-bottom: 100px;
}

.ng-dirty{
  border-color: #f0ad4e;
}

.button md-icon{
  margin-right: 10px;
}

.btn-see{
  margin-top: 50px;
  margin-bottom: 20px;
}
