<div class="container">

  <div class="row">
    <div class="col">
      <h1 class="title">Orders</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <md-card class="tab-content" *ngFor="let order of orders">
        <div class="row">
          <div class="col-12">
            <md-tab-group >
              <md-tab label="Bundles">
                <div class="row tab-content">
                  <div class="col-12">
                    <p *ngFor="let bundle of order.bundles">{{bundle.name}}</p>
                  </div>
                </div>
              </md-tab>
              <md-tab label="Order Tracking">
                <div class="row tab-content">
                  <div class="col-12"><p style="margin-bottom: 30px">Order on its way !</p></div>
                  <div class="col-12">
                    <md-progress-bar
                      class="example-margin"
                      [mode]="determinate"
                      [value]="80">
                    </md-progress-bar>
                  </div>
                </div>
              </md-tab>
              <md-tab label="Shipping Information">
                <div class="tab-content">
                  <p md-line>{{order.billing_firstname}} {{order.billing_lastname}}</p>
                  <p md-line>{{order.billing_road}}</p>
                  <p md-line>{{order.billing_city}} {{order.billing_zipcode}} </p>
                  <p md-line>{{order.billing_province}} {{order.billing_country}} </p>
                </div>
              </md-tab>
              <md-tab label="Billing Information">
                <div class="tab-content">
                  <p md-line>{{order.shipping_firstname}} {{order.shipping_lastname}}</p>
                  <p md-line>{{order.shipping_road}}</p>
                  <p md-line>{{order.shipping_city}} {{order.shipping_zipcode}}</p>
                  <p md-line>{{order.shipping_province}} {{order.shipping_country}}</p>
                </div>
              </md-tab>
            </md-tab-group>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>
