.title{
  margin-top: 40px;
  margin-bottom: 40px;
}

md-divider{
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  width: 95%;
}

p{
  margin-bottom:0;
  font-size: 13px;
}

.order-title{
  margin-bottom: 30px;
}

.order{
  margin-bottom: 30px;
}

.bundle-name{
  margin-top: 25px;
}

.header-image{
  margin-top: 15px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

md-progress-bar{
  margin-top: 11px;
}

.purple{
  color: #5e35b1;
}

.tracking-text{
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
}

.informations{
  margin-top: 20px;
  margin-bottom: 20px;
}

.calendar{
  position: relative;
  top:-4px;
  left:-5px;
}
