<div class="container">

  <div class="row">
    <div class="col">
      <button id="new-bundle" routerLink="/admin/new-bundle/" md-mini-fab mdTooltip="new bundle" [mdTooltipPosition]="'below'" class="float-right btn btn-outline-success my-2 my-sm-0 hidden-xs-down" ><md-icon>add</md-icon></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="title text-center">Cocktails</h1>
    </div>
  </div>

  <div class="row">
    <div class="bundle col-xs-12 col-sm-6 col-md-4" *ngFor="let bundle of bundles" [routerLink]="'/admin/bundle/' + bundle.id">
    <div class="card d-box mx-auto" style="width: 20rem;" >
      <img class="card-img-top" src="assets/images/bundles/{{bundle.image}}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{bundle.name}}</h4>
        <p class="card-text">{{bundle.description}}</p>
        <md-chip-list >
          <md-chip class="alcohol" *ngFor="let alcohol of bundle.alcohols">{{alcohol.name}}</md-chip>
        </md-chip-list>
        <md-chip-list >
          <md-chip class="soft" *ngFor="let soft of bundle.softs">{{soft.name}}</md-chip>
        </md-chip-list>
        <md-chip-list >
          <md-chip class="extra" *ngFor="let extra of bundle.extras">{{extra.name}}</md-chip>
        </md-chip-list>
      </div>
    </div>
    </div>
  </div>
</div>
