<div class="container">


    <div class="row cart" >
      <div class="col-12" *ngIf="!isCheckingOut">
          <h1 class="title">Cart</h1>
        </div>
        <div class="col-12" *ngIf="isCheckingOut">
          <h1 class="title">Shipping Informations</h1>
        </div>

      <div class="col-8 list" *ngIf="!isCheckingOut">
        <div class="row" *ngIf="bundles.length == 0">
          <div class="col">
            <md-divider></md-divider>
            <p>Your cart is empty</p>
            <button routerLink="/shop" md-raised-button class="btn-outline-info"><md-icon>shopping_cart</md-icon> Go shopping !</button>
          </div>
        </div>
        <md-list>
          <div class="row " *ngFor="let bundle of bundles">
            <md-divider></md-divider>
            <div class="col-2">
              <div md-card-avatar class="mx-auto header-image" [style.backgroundImage]="'url(assets/images/bundles/'+bundle.image+')'"></div>
            </div>
            <div class="col-7" >
              <md-list-item>
                <h4 md-line>{{bundle.name}}</h4>
                <p md-line> {{bundle.description}} </p>
                <p md-line> price : {{bundle.price}} $ </p>
                <p md-line> quantity : {{bundle.quantity}}</p>
              </md-list-item>
            </div>
            <div class="col-3">
              <button md-raised-button (click)="removeFromCart(bundle)" class="float-right btn-remove btn-outline-danger"><md-icon>delete</md-icon> Remove</button>
            </div>
          </div>
        </md-list>
      </div>

      <div class="col-8 list" *ngIf="isCheckingOut">

        <div class="row first-address-input">
          <div class=" col-md-6 col-xs-12 ">
            <md-input-container>
              <input type="text" mdInput placeholder="First Name" [(ngModel)]="order.shipping_firstname">
            </md-input-container>
          </div>
          <div class=" col-md-6 col-xs-12">
            <md-input-container>
              <input type="text" mdInput placeholder="Last Name" [(ngModel)]="order.shipping_lastname">
            </md-input-container>
          </div>
        </div>

        <div class="row">
          <div class="col-12 ">
            <md-input-container>
              <input type="text" mdInput placeholder="Address" [(ngModel)]="order.shipping_road">
            </md-input-container>
          </div>
        </div>

        <div class="row">
          <div class=" col-md-6 col-xs-12">
            <md-input-container>
              <input type="text" mdInput placeholder="City" [(ngModel)]="order.shipping_city">
            </md-input-container>
          </div>
          <div class=" col-md-6 col-xs-12">
            <md-input-container>
              <input type="text" mdInput placeholder="Zip Code" [(ngModel)]="order.shipping_zipcode">
            </md-input-container>
          </div>
        </div>

        <div class="row">
          <div class=" col-md-6 col-xs-12">
            <md-input-container>
              <input type="text" mdInput placeholder="Province" [(ngModel)]="order.shipping_province">
            </md-input-container>
          </div>
          <div class=" col-md-6 col-xs-12">
            <md-input-container>
              <input type="text" mdInput placeholder="Country" [(ngModel)]="order.shipping_country">
            </md-input-container>
          </div>
        </div>

      <div class="row">
        <div class="col">
          <h1 class="title title-address">Billing Informations</h1>
        </div>
      </div>

        <div class="row">
          <div class=" col-md-6 col-xs-12">
            <md-input-container>
              <input type="text" mdInput placeholder="First Name" [(ngModel)]="order.billing_firstname">
            </md-input-container>
          </div>
          <div class=" col-md-6 col-xs-12">
            <md-input-container>
              <input type="text" mdInput placeholder="Last Name" [(ngModel)]="order.billing_lastname">
            </md-input-container>
          </div>
        </div>

      <div class="row">
        <div class="col-12">
          <md-input-container>
            <input type="text" mdInput placeholder="Address" [(ngModel)]="order.billing_road">
          </md-input-container>
        </div>
      </div>

      <div class="row">
        <div class=" col-md-6 col-xs-12">
          <md-input-container>
            <input type="text" mdInput placeholder="City" [(ngModel)]="order.billing_city">
          </md-input-container>
        </div>
        <div class=" col-md-6 col-xs-12">
          <md-input-container>
            <input type="text" mdInput placeholder="Zip Code" [(ngModel)]="order.billing_zipcode">
          </md-input-container>
        </div>
      </div>

      <div class="row">
        <div class=" col-md-6 col-xs-12">
          <md-input-container>
            <input type="text" mdInput placeholder="Province" [(ngModel)]="order.billing_province">
          </md-input-container>
        </div>
        <div class=" col-md-6 col-xs-12">
          <md-input-container>
            <input type="text" mdInput placeholder="Country" [(ngModel)]="order.billing_country">
          </md-input-container>
        </div>
      </div>

        <div class="row">
          <div class="col">
            <button md-raised-button (click)="proceedPayment()" class="float-right btn-outline-success"><md-icon>payment</md-icon> Proceed Payment</button>
          </div>
        </div>

    </div>


      <div class="col-4" *ngIf="bundles.length > 0">
        <h4>Total Price</h4>
        <md-divider></md-divider>
        <div *ngFor="let bundle of bundles">
          <p>{{bundle.name}} : {{bundle.price * bundle.quantity}} $</p>
        </div>

        <md-divider></md-divider>
        <p>Taxes : {{taxes}}$</p>
        <p>Delivery Fee : 3$</p>
        <md-divider></md-divider>
        <p>Total : {{total}}$</p>
        <md-divider></md-divider>
        <button (click)="checkOut()" *ngIf="!isCheckingOut && bundles.length > 0" md-raised-button class="btn-outline-success"><md-icon>payment</md-icon> Check out</button>
      </div>
    </div>




</div>
