<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title">Cart</h1>
    </div>
  </div>

  <md-list>
    <div class="row" *ngFor="let bundle of bundles">
      <md-divider></md-divider>
      <div class="col-2">
        <div md-card-avatar class="mx-auto header-image" [style.backgroundImage]="'url(assets/images/categories-04.png)'"></div>
      </div>
      <div class="col-8" >
        <md-list-item >
          <h4 md-line>{{bundle.name}}</h4>
          <p md-line> {{bundle.description}} </p>
          <p md-line> 30 $ </p>
        </md-list-item>
      </div>
      <div class="col-2">
        <button md-raised-button (click)="removeFromCart(bundle)" class="btn-outline-danger"><md-icon>delete</md-icon> Remove</button>
      </div>
    </div>
  </md-list>

  <div class="row" *ngIf="bundles.length == 0">
    <div class="col">
      <md-divider></md-divider>
      <p>Your cart is empty</p>
      <button md-raised-button class="btn-outline-info"><md-icon>shopping_cart</md-icon> Go shopping !</button>
    </div>
  </div>

</div>
