h1{
  color: #eeeeee;
  font-weight: 100;
  margin-top: 100px;
}

img{
  width: 100%;
}

.nav-item{
  margin-bottom: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'RondaMedium'; /*a name to be used later*/
  src: url('../assets/font/Ronda-Medium.ttf'); /*URL to font*/
}

.title{
  font-weight: 100;
  letter-spacing: 0.1em;
  font-family: RondaMedium;
}

.sign-in{
  margin-left: 10px;
}

.navbar-brand{
  cursor: pointer;
}

