@font-face {
  font-family: 'RondaMedium'; /*a name to be used later*/
  src: url('../assets/font/Ronda-Medium.ttf'); /*URL to font*/
}
@font-face {
  font-family: 'RondaLight'; /*a name to be used later*/
  src: url('../assets/font/Ronda-Light.ttf'); /*URL to font*/
}

h1{
  color: #eeeeee;
  font-weight: 100;
  margin-top: 100px;
}


img{
  width: 100%;
}

.nav-item{
  margin-bottom: 0;
  cursor: pointer;
  font-family: RondaLight;
}

.btn{
  font-family: RondaLight;
}

.title{
  font-weight: 100;
  letter-spacing: -1px;
  font-family: RondaMedium;
}

.sign-in{
  margin-left: 10px;
}

.navbar-brand{
  cursor: pointer;
}
