

<div class="container-fluid builder hidden-md-down laptop">
  <div class="row">
    <div class="col-4">
      <div class="side">
        <div class="size">
          <div class="row">
            <div class="col">
              <h6 class="text-center">Choose your nicocktail size</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-8 offset-2">
              <md-slider
                class="example-margin"
                [max]="sliderMax"
                [min]="sliderMin"
                [step]="sliderStep"
                [thumb-label]="sliderThumbLabel"
                [tick-interval]="sliderTick"
                [(ngModel)]="sliderValue">
              </md-slider>
            </div>
          </div>
        </div>
        <div class="add">
          <div class="row">
            <div class="col">
              <h6 class="text-center">Add something to your nicocktail</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button md-raised-button (click)="addAlcohol()">Alcohol</button>
            </div>
            <div class="col">
              <button md-raised-button (click)="addSoft()">Soft Drink</button>
            </div>
            <div class="col">
              <button md-raised-button (click)="addExtra()">Extra</button>
            </div>
          </div>
        </div>
        <div class="ingredients">
          <div class="row">
            <div class="col">
              <h6 class="text-center">Ingredients</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Alcohol</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <md-chip-list>
                <md-chip class="alcohol" (click)="removeAlcohol(alcohol)" mdTooltip="remove" [mdTooltipPosition]="'above'" *ngFor="let alcohol of alcohols">{{alcohol.name}}</md-chip>
                <md-chip *ngIf="alcohols.length == 0" class="empty" (click)="addAlcohol()">no alcohol</md-chip>
              </md-chip-list>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p>Soft Drinks</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <md-chip-list>
                <md-chip *ngIf="softs.length == 0" class="empty" (click)="addSoft()">no soft</md-chip>
                <md-chip class="soft" (click)="removeSoft(soft)" mdTooltip="remove" [mdTooltipPosition]="'above'" *ngFor="let soft of softs">{{soft.name}}</md-chip>
              </md-chip-list>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p>Extras</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <md-chip-list>
                <md-chip class="extra" (click)="removeExtra(extra)" mdTooltip="remove" [mdTooltipPosition]="'above'" *ngFor="let extra of extras">{{extra.name}}</md-chip>
                <md-chip *ngIf="extras.length == 0" class="empty" (click)="addExtra()">no extra</md-chip>
              </md-chip-list>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h1 class="title text-center">Your nicocktail</h1>
      <div class="cocktail">
        <div class="liquid" *ngFor="let soft of softs" [style.height]="10 + sliderValue*3 + 'px'" [style.background-color]="soft.color"></div>
        <div class="liquid" *ngFor="let alcohol of alcohols" [style.height]="10 + sliderValue*3 + 'px'" [style.background]="getLinearGradient(alcohol)"></div>
        <div class="bulle bulle1" *ngIf="this.containBulle" [style.height]="'10px'" [style.width]="'10px'" ></div>
        <div class="bulle bulle2" *ngIf="this.containBulle" [style.height]="'20px'" [style.width]="'20px'" ></div>
        <div class="bulle bulle3" *ngIf="this.containBulle" [style.height]="'15px'" [style.width]="'15px'" ></div>
      </div>
    </div>
    <div class="col-4">
      <div class="finish-buttons">
        <button md-raised-button>Add to wish list</button>
        <button md-raised-button>Add to cart</button>
      </div>
    </div>
  </div>
</div>

<div class="hidden-lg-up container mobile">
  <div class="row">
    <div class="col">
      <md-card>
        <div class="row">
          <div class="col">
            <h6 class="text-center">Choose your nicocktail size</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <md-input-container>
              <input type="text" mdInput placeholder="cocktail name">
            </md-input-container>
          </div>
        </div>
      </md-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <md-card>
        <div class="row">
          <div class="col">
            <h6 class="text-center">Choose your nicocktail size</h6>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <md-slider
                class="example-margin"
                [max]="sliderMax"
                [min]="sliderMin"
                [step]="sliderStep"
                [thumb-label]="sliderThumbLabel"
                [tick-interval]="sliderTick"
                [(ngModel)]="sliderValue">
              </md-slider>
            </div>
        </div>
      </md-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <md-card>
        <div class="col">
          <h6 class="text-center">Add ingredients</h6>
        </div>
          <div class="col">
            <button md-raised-button (click)="addAlcohol()">Alcohol</button>
          </div>
          <div class="col">
            <button md-raised-button (click)="addSoft()">Soft Drink</button>
          </div>
          <div class="col">
            <button md-raised-button (click)="addExtra()">Extra</button>
        </div>
      </md-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <md-card>
        <div class="row">
          <div class="col">
            <h6 class="text-center">Your cocktail - cocktailName</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <md-chip-list>
              <md-chip *ngIf="softs.length == 0" class="empty" (click)="addSoft()">no soft</md-chip>
              <md-chip *ngIf="alcohols.length == 0" class="empty" (click)="addAlcohol()">no alcohol</md-chip>
              <md-chip *ngIf="extras.length == 0" class="empty" (click)="addExtra()">no extra</md-chip>
              <md-chip class="soft" (click)="removeSoft(soft)" *ngFor="let soft of softs">{{soft.name}}</md-chip>
              <md-chip class="alcohol" (click)="removeAlcohol(alcohol)" *ngFor="let alcohol of alcohols">{{alcohol.name}}</md-chip>
              <md-chip class="extra" (click)="removeExtra(extra)" *ngFor="let extra of extras">{{extra.name}}</md-chip>
            </md-chip-list>
          </div>
        </div>
      </md-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button md-raised-button (click)="addToCart()">Add to your cart</button>
    </div>
  </div>

</div>
