

.title{
  color: #4a4a4a;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: RondaMedium;
}

md-card{
  margin-bottom: 30px;
  padding-bottom: 40px;
}

md-card-actions{
  position: absolute;
  bottom: 25px;
}

.add-cart, .add-wish{
  margin-bottom: 10px;
}

.new-bundle input{
  margin-bottom: 10px;
}

md-input-container{
  width: 100%;
}

md-chip-list md-chip.mat-chip{
  margin-bottom: 10px;
  color: #ffffff;
}

md-chip.alcohol{
  background-color: #f0ad4e;
}

md-chip.soft{
  background-color: #5bc0de;
}

.bundle{
  display: flex;
  outline: none;
}

md-chip.extra{
  background-color: #5cb85c;
}

.is-wished{
  background-color: #d9534f;
  color: #ffffff;
}

