<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title">Ready to Mix Bundles</h1>
    </div>
  </div>

  <div class="row">

    <div class="card d-box mx-auto" style="width: 20rem;">
      <img class="card-img-top" src="http://placehold.it/318x200" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Bundle Name</h4>
        <p class="card-text">Bundle description</p>
        <a href="#" class="btn btn-outline-primary add-cart"><i class="fa fa-shopping-basket"></i> Cart</a>
        <a href="#" class="btn btn-outline-danger add-wish"><i class="fa fa-heart-o"></i> Whishlist</a>
      </div>
    </div>

    <div class="card d-box mx-auto" style="width: 20rem;">
      <img class="card-img-top" src="http://placehold.it/318x200" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Bundle Name</h4>
        <p class="card-text">Bundle description</p>
        <a href="#" class="btn btn-outline-primary add-cart"><i class="fa fa-shopping-basket"></i> Cart</a>
        <a href="#" class="btn btn-outline-danger add-wish"><i class="fa fa-heart-o"></i> Whishlist</a>
      </div>
    </div>

    <div class="card d-box mx-auto" style="width: 20rem;">
      <img class="card-img-top" src="http://placehold.it/318x200" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Bundle Name</h4>
        <p class="card-text">Bundle description</p>
        <a href="#" class="btn btn-outline-primary add-cart"><i class="fa fa-shopping-basket"></i> Cart</a>
        <a href="#" class="btn btn-outline-danger add-wish"><i class="fa fa-heart-o"></i> Whishlist</a>
      </div>
    </div>


    <!--<div *ngFor="let alcohol of alcohols" class="col-sm-12 col-md-6 col-lg-4">
      <div class="card d-box mx-auto" style="width: 20rem;">
        <img class="card-img-top" src="http://placehold.it/318x200" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{alcohol.name}}</h4>
          <p class="card-text">{{alcohol.degree}}</p>
          <a href="#" class="btn btn-outline-primary add-cart"><i class="fa fa-shopping-basket"></i> Cart</a>
          <a href="#" class="btn btn-outline-danger add-wish"><i class="fa fa-heart-o"></i> Whishlist</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card d-box mx-auto new-bundle" style="width: 20rem;">
        <img class="card-img-top" src="http://placehold.it/318x200" alt="Card image cap">
        <div class="card-block">
          <input type="text" class="form-control" [(ngModel)]="newAlcohol.name" placeholder="name">
          <input type="text" class="form-control" [(ngModel)]="newAlcohol.degree" placeholder="degree">
          <div class="btn btn-outline-primary add-cart" (click)="saveNewDrink()"><i class="fa fa-save"></i> Add to catalogue</div>
        </div>
      </div>
    </div>-->

  </div>
</div>

