<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title">Our Bundles</h1>
    </div>
  </div>

  <div class="row">

    <div class="bundle col-xs-12 col-sm-6 col-md-4" *ngFor="let bundle of bundles" [routerLink]="'/bundle/' + bundle.id">
      <div class="card d-box mx-auto" style="width: 20rem;" >
        <img class="card-img-top" src="http://placehold.it/318x200" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{bundle.name}}</h4>
          <p class="card-text">{{bundle.description}}</p>
          <md-chip-list >
            <md-chip class="alcohol" *ngFor="let alcohol of bundle.alcohols">{{alcohol.name}}</md-chip>
          </md-chip-list>
          <md-chip-list >
            <md-chip class="soft" *ngFor="let soft of bundle.softs">{{soft.name}}</md-chip>
          </md-chip-list>
          <md-chip-list >
            <md-chip class="extra" *ngFor="let extra of bundle.extras">{{extra.name}}</md-chip>
          </md-chip-list>
        </div>
      </div>
    </div>

    </div>

  </div>

