<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title">Our Bundles</h1>
    </div>
  </div>

  <div class="row">

    <div class="card d-box mx-auto" style="width: 20rem;">
      <img class="card-img-top" src="http://placehold.it/318x200" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Tequila Sunrise</h4>
        <p class="card-text">Sweet cocktail !</p>
        <md-chip-list>
          <md-chip class="alcohol">Tequila</md-chip>
        </md-chip-list>
        <md-chip-list>
          <md-chip class="soft">Orange Juice</md-chip>
          <md-chip class="soft">Grenadine</md-chip>
        </md-chip-list>
      </div>
    </div>

    <div class="card d-box mx-auto" style="width: 20rem;">
      <img class="card-img-top" src="http://placehold.it/318x200" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Blue Lagoon</h4>
        <p class="card-text">Acid blue awesomness</p>
        <md-chip-list>
          <md-chip class="alcohol">Vodka</md-chip>
          <md-chip class="alcohol">Curaçao</md-chip>
          <md-chip class="alcohol">Angustrura</md-chip>
        </md-chip-list>
        <md-chip-list>
          <md-chip class="soft">Lime Juice</md-chip>
          <md-chip class="soft">Sprite</md-chip>
        </md-chip-list>
      </div>

    </div>

    <div class="card d-box mx-auto" style="width: 20rem;">
      <img class="card-img-top" src="http://placehold.it/318x200" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Long Island Iced Tea</h4>
        <p class="card-text">Strong cocktail with way to mush alcohol in it</p>
        <md-chip-list>
          <md-chip class="alcohol">Vodka</md-chip>
          <md-chip class="alcohol">Rhum</md-chip>
          <md-chip class="alcohol">Triple Sec</md-chip>
          <md-chip class="alcohol">Gin</md-chip>
        </md-chip-list>
        <md-chip-list>
          <md-chip class="soft">Coca-cola</md-chip>
        </md-chip-list>
      </div>

    </div>

  </div>
</div>

