  <div class="row">
    <div class="col">
      <p>You must be logged in in order to add a bundle !</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button routerLink="/sign-up" (click)="dialogRef.close()" md-raised-button class="float-right btn-outline-warning"><md-icon>assignment</md-icon> Register</button>
    </div>
    <div class="col">
      <button routerLink="/sign-in" (click)="dialogRef.close()" md-raised-button class="btn-outline-info"><md-icon>people</md-icon> Sign-in</button>
    </div>
  </div>
