/* You can add global styles to this file, and also import other style files */

body{
  height:100%;

}

.spinner{
  height:100%;
}

@font-face {
  font-family: 'RondaMedium'; /*a name to be used later*/
  src: url('./assets/font/Ronda-Medium.ttf'); /*URL to font*/
}

h1{
  font-family: RondaMedium;
}
