@font-face {
  font-family: 'RondaMedium'; /*a name to be used later*/
  src: url('../../assets/font/Ronda-Medium.ttf'); /*URL to font*/
}

.title{
  margin-top: 50px;
  color: #750909;
  font-family: RondaMedium;
}

.description{
  margin-top: 20px;
  color: #750909;
}

.mixes-img{
  margin-top: 70px;
}

.banner{
  width: 100%;
}

