<img src="assets/images/banner1.png" class="img-fluid" alt="">

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center title">MIX BUNDLES</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <p class="text-center description">
        Our Specials Mix Bundles allow you to buy all the ingredients needed for a particular cocktail.
        Including Alcohol, softs & extras like lime or some fancy little cocktail umbrella !
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <button class="btn btn-outline-warning d-block mx-auto"><i class="fa fa-shopping-basket"></i> Discover our Bundles</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img  class="mx-auto d-block mixes-img img-fluid" src="assets/images/mixes_banner.png" alt="">
    </div>
  </div>
</div>
