
<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" routerLink="/shop">
      <img class="d-block img-fluid" src="assets/images/banner-01.png" alt="First slide">
    </div>
    <div class="carousel-item" routerLink="/shop">
      <img class="d-block img-fluid" src="assets/images/banner-02.png" alt="Second slide">
    </div>
    <div class="carousel-item" routerLink="/shop">
      <img class="d-block img-fluid" src="assets/images/banner-03.png" alt="Second slide">
    </div>
    <div class="carousel-item" routerLink="/shop">
      <img class="d-block img-fluid" src="assets/images/banner-04.png" alt="Second slide">
    </div>
  </div>
</div>


<div class="container-fluid">

  <div class="row hidden-sm-down">
    <div class="col-12">
      <h1 class="text-center intro-title">What is nicocktail ?</h1>
    </div>
    <div class="col-md-6 offset-md-3 col-xs-12">
      <p class="text-center">Tired of running around to get the ingredient for your fancy cocktail ?</p>
      <p class="text-center">With our bundles, you don't have to care about ingredients or proportions, just mix all the bundle content and you will have your favorite cocktail ready to enjoy !</p>
    </div>
    <div class="col-12">
      <md-divider class="d-block mx-auto"></md-divider>
    </div>
  </div>


  <div class="row home-section hidden-sm-down">
    <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1 ">
      <p class="text-right">Our Specials Mix Bundles allow you to buy all the ingredients needed for a particular cocktail.
        Including Alcohol, softs & extras like lime or some fancy little cocktail umbrella !</p>
      <button md-raised-button class="btn btn-outline-info float-right" routerLink="/shop"><md-icon>shopping_cart</md-icon> Go shopping</button>
    </div>
    <div class="col-6 col-img">
      <img  class="mixes-img img-fluid float-right" src="assets/images/categories-04.png" alt="">
    </div>
  </div>

  <div class="row home-section-sm hidden-md-up">
    <div class="col-12 col-img">
      <img  class="mixes-img img-fluid mx-auto d-block" src="assets/images/categories-04.png" alt="">
    </div>
    <div class="col-12">
      <p class="text-center">Our Specials Mix Bundles allow you to buy all the ingredients needed for a particular cocktail.
        Including Alcohol, softs & extras like lime or some fancy little cocktail umbrella !</p>
      <button md-raised-button class="btn btn-outline-info mx-auto d-block" routerLink="/shop" ><md-icon>shopping_cart</md-icon> Go shopping</button>
    </div>
  </div>

  <div class="separator"></div>

  <div class="row home-section hidden-sm-down">
    <div class="col-6 col-img">
      <img  class="mixes-img img-fluid" src="assets/images/categories-02.png" alt="">
    </div>
    <div class="col-lg-4 col-md-5">
      <p>Subscribe to our Mystery Drinkbox and receive each month a new bundle to make awesome cocktail !</p>
      <button md-raised-button class="btn btn-outline-info mx-auto" routerLink="/drink-box" ><md-icon>assignment_turned_in</md-icon> Subscribe</button>
    </div>
  </div>

  <div class="row home-section-sm hidden-md-up">
    <div class="col-12 col-img">
      <img  class="mixes-img img-fluid mx-auto d-block" src="assets/images/categories-02.png" alt="">
    </div>
    <div class="col-12">
      <p class="text-center">Subscribe to our Mystery Drinkbox and receive each month a new bundle to make awesome cocktail !</p>
      <button md-raised-button class="btn btn-outline-info mx-auto d-block" routerLink="/drink-box" ><md-icon>assignment_turned_in</md-icon> Subscribe</button>
    </div>
  </div>

  <div class="separator"></div>

  <div class="row home-section hidden-sm-down">
    <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
      <p class="text-right">Our builder allow you to order your own cocktail as a Bundle ready to mix ! Just choose the size, </p>
      <button md-raised-button class="btn btn-outline-info float-right" routerLink="/builder" ><md-icon>build</md-icon> Create Cocktails</button>
    </div>
    <div class="col-6 col-img">
      <img  class="mixes-img img-fluid float-right" src="assets/images/categories-01.png" alt="">
    </div>
  </div>

  <div class="row home-section-sm hidden-md-up">
    <div class="col-12 col-img">
      <img  class="mixes-img img-fluid mx-auto d-block" src="assets/images/categories-01.png" alt="">
    </div>
    <div class="col-12">
      <p class="text-center">Our builder allow you to order your own cocktail as a Bundle ready to mix ! Just choose the size, </p>
      <button md-raised-button class="btn btn-outline-info mx-auto d-block" routerLink="/builder" ><md-icon>build</md-icon> Create Cocktails</button>
    </div>
  </div>

</div>

<div class="footer">
  <p class="text-center">Made by Nico with <i class="fa fa-heart"></i></p>
</div>

