

.title{
  margin-top: 50px;
  color: #750909;
  font-family: RondaMedium;
}

.description{
  margin-top: 20px;
  color: #750909;
}

.mixes-img{
  margin-top: 70px;
}

.banner{
  width: 100%;
}

.home-section p{
  margin-top: 300px;
  font-size: 18px;

}

.home-section-sm p{
  margin-top: 40px;
}

.home-section-sm .btn{
  width: 200px;
}

.home-section-sm img{
  max-height: 200px;
}

.col-img{
  padding: 0;
}

.home-section .col-img img{
  max-height: 500px;
}


.footer{
  background-color: rgb(101, 0, 51);;
  margin-bottom: 0;
  padding-top: 15px;
  height: 50px;
  color: #fff;
  font-weight: 100;
  margin-top: 40px;
}

.footer p{

  margin-bottom:0;
}

.separator{
  background-color: #e4e4e4;
  height: 1px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item img{
  min-width: 100%;
}

.carousel{
  cursor: pointer;
}

.intro-title{
  margin-top: 40px;
  margin-bottom: 40px;
}


md-divider{
  width: 80%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-top: 30px;
}
