<div class="container-fluid">

  <div class="row">
    <div class="col">
      <h1 class="text-center title">nicocktail admin panel</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <md-card class="btn-outline-info" routerLink="/admin/alcohol">
        <md-card-header>
          <div md-card-avatar><md-icon>local_bar</md-icon></div>
          <md-card-title>Manage Alcohols</md-card-title>
        </md-card-header>
        <img md-card-image src="http://placehold.it/330x330">
      </md-card>
    </div>

    <div class="col">
      <md-card class="btn-outline-info" routerLink="/admin/soft">
        <md-card-header>
          <div md-card-avatar><md-icon>local_drink</md-icon></div>
          <md-card-title>Manage Soft Drinks</md-card-title>
        </md-card-header>
        <img md-card-image src="http://placehold.it/330x330">
      </md-card>
    </div>

      <div class="col">
        <md-card class="btn-outline-info" routerLink="/admin/bundle">
          <md-card-header>
            <div md-card-avatar><md-icon>local_florist</md-icon></div>
            <md-card-title>Manage Bundles</md-card-title>
          </md-card-header>
          <img md-card-image src="http://placehold.it/330x330">
        </md-card>
      </div>

    <div class="col">
      <md-card class="btn-outline-info" routerLink="/admin/extra">
        <md-card-header>
          <div md-card-avatar><md-icon>view_carousel</md-icon></div>
          <md-card-title>Manage Extras</md-card-title>
        </md-card-header>
        <img md-card-image src="http://placehold.it/330x330">
      </md-card>
    </div>

    <div class="col">
      <md-card class="btn-outline-info" routerLink="/admin/user">
        <md-card-header>
          <div md-card-avatar><md-icon>people</md-icon></div>
          <md-card-title>Manage Users</md-card-title>
        </md-card-header>
        <img md-card-image src="http://placehold.it/330x330">
      </md-card>
    </div>

  </div>
</div>
