.title{
  margin-top: 70px;
  margin-bottom: 70px;
}

md-card{
  cursor: pointer;
  transition: all .15s;
}


md-card:hover{
  transition: all .15s;
  background-color: #ffffff;
}

img{
  width: 100px;
}

md-card-title{
  font-size: 15px;
}

md-card{
  background-color: #f2f2f2;
}
