<div class="container-fluid">

  <div class="row">
    <div class="col">
      <h1 class="text-center title">nicocktail admin panel</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <md-card routerLink="/admin/alcohol">
          <md-card-title class="text-center">Manage Alcohols</md-card-title>
        <img class="d-block mx-auto" md-card-image src="assets/images/admin_alcohol.png">
      </md-card>
    </div>

    <div class="col">
      <md-card routerLink="/admin/soft">
          <md-card-title class="text-center">Manage Soft Drinks</md-card-title>
        <img class="d-block mx-auto" md-card-image src="assets/images/admin_soft.png">
      </md-card>
    </div>

    <div class="col">
      <md-card routerLink="/admin/extra">
          <md-card-title class="text-center">Manage Extras</md-card-title>
        <img class="d-block mx-auto" md-card-image src="assets/images/admin_extra.png">
      </md-card>
    </div>

      <div class="col">
        <md-card routerLink="/admin/bundle">
            <md-card-title class="text-center">Manage Bundles</md-card-title>
          <img class="d-block mx-auto" md-card-image src="assets/images/admin_bundles.png">
        </md-card>
      </div>


    <div class="col">
      <md-card routerLink="/admin/user">
          <md-card-title class="text-center">Statistics</md-card-title>
        <img class="d-block mx-auto" md-card-image src="assets/images/admin_user.png">
      </md-card>
    </div>

  </div>
</div>
