<div class="container">
  <md-card>
    <div class="row">
      <div class="col">
        <h1 class="text-center title">{{user.firstname}} <md-icon class="verified" mdTooltip="Account verified !" [mdTooltipPosition]="'below'" *ngIf="user.is_verified">verified_user</md-icon><md-icon mdTooltip="You must verify your account !"  class="unverified" [mdTooltipPosition]="'below'" *ngIf="!user.is_verified">warning</md-icon></h1>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-4 offset-md-2 col-xs-12">
        <md-input-container>
          <input type="text" mdInput placeholder="Firstname" [(ngModel)]="user.firstname">
        </md-input-container>
      </div>
      <div class=" col-md-4 col-xs-12">
        <md-input-container>
          <input type="text" mdInput placeholder="Lastname" [(ngModel)]="user.lastname">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2  col-xs-12">
        <md-input-container>
          <input type="text" mdInput placeholder="Email" [(ngModel)]="user.email">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2  col-xs-12">
        <md-input-container>
          <input type="text" mdInput placeholder="Address" [(ngModel)]="user.address.road">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-4 offset-md-2 col-xs-12">
        <md-input-container>
          <input type="text" mdInput placeholder="City" [(ngModel)]="user.address.city">
        </md-input-container>
      </div>
      <div class=" col-md-4 col-xs-12">
        <md-input-container>
          <input type="text" mdInput placeholder="Zip Code" [(ngModel)]="user.address.zipcode">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-4 offset-md-2 col-xs-12">
        <md-input-container>
          <input type="text" mdInput placeholder="Province" [(ngModel)]="user.address.province">
        </md-input-container>
      </div>
      <div class=" col-md-4 col-xs-12">
        <md-input-container>
          <input type="text" mdInput placeholder="Country" [(ngModel)]="user.address.country">
        </md-input-container>
      </div>
    </div>



    <div class="row">
      <div class="col-md-2 col-xs-12 offset-md-8">
        <button md-raised-button (click)="onSubmit()" class="btn btn-block btn-outline-info form-control"><md-icon>save</md-icon> Save</button>
      </div>
    </div>
  </md-card>
</div>
